[submodule "Library/facebook-ios-sdk"]
	path = Library/facebook-ios-sdk
	url = git://github.com/facebook/facebook-ios-sdk.git
[submodule "Library/JSON-Framework"]
	path = Library/JSON-Framework
	url = https://github.com/stig/json-framework.git
