<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>es</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icono.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>teleSUR.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>Configuración</key>
	<dict>
		<key>API URL Base</key>
		<string>http://multimedia.telesurtv.net</string>
		<key>Código de idioma</key>
		<string>es</string>
		<key>Ubicaciones</key>
		<array>
			<dict>
				<key>nombre</key>
				<string>Latinoamérica</string>
				<key>slug</key>
				<string>america-latina</string>
			</dict>
			<dict>
				<key>nombre</key>
				<string>América</string>
				<key>slug</key>
				<string>america</string>
			</dict>
			<dict>
				<key>nombre</key>
				<string>Asia</string>
				<key>slug</key>
				<string>asia</string>
			</dict>
			<dict>
				<key>nombre</key>
				<string>Europa</string>
				<key>slug</key>
				<string>europa</string>
			</dict>
			<dict>
				<key>nombre</key>
				<string>África</string>
				<key>slug</key>
				<string>africa</string>
			</dict>
			<dict>
				<key>nombre</key>
				<string>Oceanía</string>
				<key>slug</key>
				<string>oceania</string>
			</dict>
		</array>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainWindow_iPhone</string>
	<key>NSMainNibFile~ipad</key>
	<string>MainWindow_iPad</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
